
General Styles {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;
    color: #333;
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2 {
    color: #005A87;
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
    font-size: 1.1em;
}

/* Header and Navigation */
header {
    background: #005A87;
    color: white;
    padding: 10px;
}

.logo h1 {
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    padding-left: 20px;
}

nav.nav-links {
    float: right;
   
}

nav .nav-links li {
    display: inline;
    
    margin-bottom: 10px;
    
}

nav .nav-links a {
    color: white;
    font-size: 18px;
    padding: 5px 10px;
    
}

/* About Us Section */
.about-us {
    background-color: #f9f9f9;
    padding: 60px 20px;
}

.about-us .container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.about-us .about-content {
    background: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-us h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.about-us p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #555;
}

/* Call to Action Button */
.cta-button {
    margin-top: 30px;
    background-color: #f1a825;
    color: white;
    padding: 12px 25px;
    font-size: 18px;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.cta-button:hover {
    background-color: #d18312;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

footer a {
    color: white;
}
