
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>about-us</title>
        <link rel="stylesheet" href="/css/contact.css">
    </head>
    <body>
     
        <!-- Header and Navigation -->
        <header>
            <nav>
                
                <h1 style="text-align:justify;color:white;position: absolute 0px;text-transform: uppercase;margin-left: 10px;">
                    <b>CRESENT MEDICAL HOSPITAL</b>
                </h1>
                <h2 style="text-align:justify;color:white;margin-left: 15px;"><i>Leads you back to an impaqtful life...</i></h2>
                <div class="frm">
                
                <ul class="nav-links">
                    <li><a style="left:1400px; position: absolute; color:white;top:40px;" href="/login" ><b>Login</b></a></li>
                    
                   
                </ul>
            </nav>
        </header>
     
        <!-- About Us Section -->
        <section class="about-us">
            <div class="container">
                <div class="about-content">
                    <h2>Contact Us</h2>
                    <p>Crescent Medical Hospital<br>
                        123 Healing Way<br>
                        Cochin, Kerala, 682001<br>
                        Phone: +91 123 456 7890<br>
                        <b>Email: info@crescentmedicalhospital.com</b><br>
                        
                        Operating Hours:<br>
                        
                        Monday to Friday:<b> 8:00 AM - 8:00 PM</b><br>
                        Saturday: <b>9:00 AM - 5:00 PM</b><br>
                        Sunday: Closed<br>
                        For Appointments:
                        Please call our appointment desk at<b> +91 123 456 7891 </b><b>-OR-</b> Email <b>appointments@crescentmedicalhospital.com.</b><br>
                        
                        Feedback & Inquiries:
                        We value your feedback! For any questions or comments, please reach out to us at <b>feedback@crescentmedicalhospital.com.</b></p>
                   
                    <p>Founded with the mission of improving the health and well-being of our community, we strive to offer accessible and comprehensive healthcare services to all who need it. Whether you need emergency care or a routine check-up, our team is here to provide the care you deserve.</p>
                   
                   
                </div>
            </div>
        </section>
     
        
       
    </body>
    </html>